# Ignore CAA folder
/CAA/
/circuit-breakers/*

# Environment files
.env

# Ignore everything by default
/*

# Whitelist approach - only include specific folders
!/wisent_guard/
!/models/
!/examples/
!/evaluation/
!/dist/
!/wisent_guard.egg-info/

# Don't ignore these files in the root directory
!/.gitignore
!/README.md
!/requirements.txt
!/setup.py
!/LICENSE
!/upload_to_pypi.sh
!/wisent-guard-logo.png
!/.DS_Store

__pycache__/
*.pyc