# Ignore CAA folder
/CAA/
/circuit-breakers/*

# Environment files
.env

# Ignore everything by default
/*

# Allow only specific folders
!/wisent_guard/
!/models/
!/examples/
!/evaluation/
!/dist/
!/wisent_guard.egg-info/

# Allow key Python scripts in root
!/generate_all_prompts.py
!/train_classifier.py
!/predict_with_classifier.py
!/prepare_classifier_data.py
!/run_benchmark.py

# Allow specific files in root
!/.gitignore
!/README.md
!/requirements.txt
!/setup.py
!/LICENSE
!/upload_to_pypi.sh
!/wisent-guard-logo.png
!/.DS_Store

# Unignore root directory so exceptions are respected
!/